# Install the dependencies

In [1]:
from IPython.display import clear_output

In [2]:
!pip install -r requirements.txt

clear_output()

# Query by SQL

In [3]:
%load_ext sql

In [4]:
%sql postgresql://superset:superset@superset_db/superset

In [5]:
%%sql

SELECT * FROM test.c_ce4_9 LIMIT 5;

 * postgresql://superset:***@superset_db/superset
5 rows affected.

[(26, 'The 77 Bank, Ltd.', 'Japan', 'Banks', 'Financial services', 'Services', 'Financial services', '8341 JP', 'JP3352000008', 1, '4+ cyclone preheating', 'Question not applicable'),
 (26, 'The 77 Bank, Ltd.', 'Japan', 'Banks', 'Financial services', 'Services', 'Financial services', '8341 JP', 'JP3352000008', 2, 'Pre-calciner', 'Question not applicable'),
 (30, '888 Holdings', 'United Kingdom of Great Britain and Northern Ireland', 'Gambling', 'Entertainment facilities', 'Hospitality', 'General', '888 LN', 'GI000A0F6407', 1, '4+ cyclone preheating', 'Question not applicable'),
 (30, '888 Holdings', 'United Kingdom of Great Britain and Northern Ireland', 'Gambling', 'Entertainment facilities', 'Hospitality', 'General', '888 LN', 'GI000A0F6407', 2, 'Pre-calciner', 'Question not applicable'),
 (44, '3i Group', 'United Kingdom of Great Britain and Northern Ireland', 'Asset managers', 'Financial services', 'Services', 'Financial services', 'III LN', 'GB00B1YW4409', 1, '4+ cyclone preheating', 'Question not applicable')]

# Query by functions

In [6]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://superset:superset@superset_db/superset')

In [7]:
import pandas as pd

df = pd.read_sql('SELECT * FROM test.c_ce4_9 LIMIT 5', engine)

In [8]:
df

,account_number,organization,country,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector,primary_ticker,primary_isin,_row,rowname,__total_production_capacity_coverage____
0,26,"The 77 Bank, Ltd.",Japan,Banks,Financial services,Services,Financial services,8341 JP,JP3352000008,1,4+ cyclone preheating,Question not applicable
1,26,"The 77 Bank, Ltd.",Japan,Banks,Financial services,Services,Financial services,8341 JP,JP3352000008,2,Pre-calciner,Question not applicable
2,30,888 Holdings,United Kingdom of Great Britain and Northern I...,Gambling,Entertainment facilities,Hospitality,General,888 LN,GI000A0F6407,1,4+ cyclone preheating,Question not applicable
3,30,888 Holdings,United Kingdom of Great Britain and Northern I...,Gambling,Entertainment facilities,Hospitality,General,888 LN,GI000A0F6407,2,Pre-calciner,Question not applicable
4,44,3i Group,United Kingdom of Great Britain and Northern I...,Asset managers,Financial services,Services,Financial services,III LN,GB00B1YW4409,1,4+ cyclone preheating,Question not applicable